form
  label Title:
  input#title
  br

  label Deployment date:
  input#deployment_date(type="datetime-local")
  br

  label Change details:
  textarea#change_details
  br

  label Impact:
  textarea#impact
  br

  label Jira ID:
  input#jira_id
  br

  label Testing:
  textarea#testing
  br

  label Rollout drone build ID:
  input#rollout_drone_id(type="number")
  br

  label Rollback drone build ID:
  input#rollback_drone_id(type="number")
  br

  label Presenter
  input#presenter
  br
